# Gradle
.gradle/
build/

# IntelliJ
.idea/*
*.iml

*~
*.swp
local.properties
.DS_Store

#secure
signing.properties

#Crashlytics
*com_crashlytics_export_strings.xml
*crashlytics-build.properties

*.hprof
captures
